/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

header {
    background-color: black;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
  }
  
  nav {
    margin-top: 20px;
  }

/* Estilos específicos de cada seção */
#home {
    background-color: #f2f2f2;
    padding: 20px;
}

#estoque {
    background-color: #e6e6e6;
    padding: 20px;
}

#servicos {
    background-color: #f2f2f2;
    padding: 20px;
}

#contato {
    background-color: #e6e6e6;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}