/* Estilos gerais */
head {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    
}

header {
    background-color: black;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
  }
  
  nav {
    margin-top: 20px;
  }

/* Estilos específicos de cada seção */
#home {
  background-image: url(../landing-pages-carros/imagens/ONIX.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center right;
  ba
  }
   
#home h2 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #050505;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  }
    
#home p {
  flex-basis: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  text-align: center;
  word-break: normal;
  width: 700px;
  
  }
#home button {
  flex-basis: calc(33.33% - 5px);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  
}
  
#estoque {
  background-color: #e6e6e6;
  padding: 20px;
  
}
#estoque h2 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #050505;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#estoque p{
  flex-basis: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  text-align: center;
  word-break: normal;
  width: 500px;
}

#servicos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#servicos h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#servicos h4 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#servicos p {
  flex-basis: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

#servicos p:hover {
  transform: scale(1.05);
  background-color: #e6e6e6;
}

#contato {
  background-color: #f8f8f8;
  padding: 40px;
  text-align: center;
}

#contato h2 {
  font-size: 24px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#contato p {
  margin-bottom: 10px;
  font-size: 16px;
}

#contato p:last-child {
  margin-bottom: 0;
}

#contato a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#contato a:hover {
  background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}